<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <!-- ... cabeçalho ... -->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="titulo">
        <h1>Página Privada</h1>
      </div>
      <p>Bem-vindo, usuário <%= userId %></p>
    </div>
  </div>

  <!-- ... scripts ... -->
</body>
</html>
